<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
{% load static %}

<html dir="ltr">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Hebrew NLP, NLProc, ONLP, Reut Tsarfaty, YAP, text to code , hebrew parsing">
    <meta name="description" content="the ONLP lab runs research on Natural Language Processing (NLP), specifically on Hebrew parsing and NLProg (text-to-code).">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/landing_static/css/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="static/landing_static/css/font-awesome.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="static/landing_static/css/style.css">
  <link rel="stylesheet" type="text/css" href="static/landing_static/css/animate.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    </head>
    <body>
    <div class="loader">
      <div id="myDiv-hebrew">
        <div class="header">
          <div class="bg-color">
            <header id="main-header-hebrew">
              <nav class="navbar navbar-default navbar-fixed-top top-nav-collapse">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar-hebrew">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                      <a class="navbar-brand" href="http://nlp.biu.ac.il/~rtsarfaty/onlp">ONLP<span class="logo-dec">Lab</span></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar-hebrew">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="https://nlp.biu.ac.il/~rtsarfaty/onlp/hebrew/about">About</a></li>         
                      <li><a href="http://nlp.biu.ac.il/~rtsarfaty/onlp/hebrew">Demo</a></li>
                      <li><a href="https://nlp.biu.ac.il/~rtsarfaty/onlp/hebrew/documentation">Documentation</a></li>        
                      <li><a href="http://nlp.biu.ac.il/~rtsarfaty/onlp/hebrew/resources">Resources</a></li>
                        
                      <li><a href="http://nlp.biu.ac.il/~rtsarfaty/onlp/hebrew/faq">FAQ</a></li>
                      <li><a href="http://nlp.biu.ac.il/~rtsarfaty/onlp/hebrew/contact">Contact Us</a></li>
                      <li><a href="http://nlp.biu.ac.il/~rtsarfaty/onlp"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                      <li class="nav-icons"><a href="https://github.com/OnlpLab/yap" target="_blank"><i class="fa fa-github"></i></a></li>
                      <li class="nav-icons"><a href="https://twitter.com/OnlpLab" target="_blank"><i class="fa fa-twitter"></i></a></li>
          </ul>
                          </div>
                          </div>
      </nav>
                    </header>
                    <div class="wrapper">
                      <div class="container">
                        <div class="row">
                          <div class="banner-info text-center wow fadeIn delay-05s" style="padding: 120px;">

                            <h2 class="bnr-sub-title">HEBREW PARSER</h2>
                            <h3 class="bnr-sub-title">Morphological and Syntactic Analysis of Hebrew Texts</h3>
                            <p class="bnr-para">Research project directed by Prof. Reut Tsarfaty in the ONLP lab<br></p>
                          </div>
                        </div>
                      </div>
                    </div>

                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
<main>
    {%block content%}
    {%endblock%}
</main>
<script src="static/js/report.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.min.js"></script>
<script type="text/javasript">
function googleTranslateEntireSite() {
    new google.translate.translateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
  <script src="static/landing_static/js/jquery.min.js"></script>
  <script src="static/landing_static/js/jquery.easing.min.js"></script>
  <script src="static/landing_static/js/bootstrap.min.js"></script>
  <script src="static/landing_static/js/wow.js"></script>
  <script src="static/landing_static/js/jquery.bxslider.min.js"></script>
  <script src="static/landing_static/js/custom.js"></script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?
cb=googleTranslateEntireSite"></script>

</body>
</html>