{% extends "base.html" %}
{% block title %}Bar Ilan University | ONLP Lab | Hebrew Parser{% endblock %}
{% load static %}
{% block content %}
 <h3 class="page-title">Hebrew Parser - Demo</h3>

<!-- <h3 class="page-title">Hebrew Parser</h3>
<h4>Morphological and Syntactic Analysis of Hebrew Texts</h4> -->
      <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"/>
       {% for field in form %}
      <div id="query">{{ field }}</div><br>
    {% endfor %}
    <button class="btn" type="submit">Submit</button>
  </form>
{% if query != "" %}
  {% if pos != "error" %}
    <h3 style="margin-top:30px;">
        <strong>Segmented Text: </strong>{{segments}}

    </h3>
    <div style="overflow-x: auto; size: 50%;">{{graph|safe}}</div>

<div class="analysis">
      <h4>Please select level of analysis to display:</h4>
      <!--<h5>In each you can mark <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> for a perfect parse or <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> for an incorrect one.</h5>-->
      <button class="card-header" type="button" data-toggle="collapse" data-target="#collapse-pos-parser" aria-expanded="false" aria-controls="collapse-pos-parser">Part of Speech Tags</button>

      <div class="card-block">
        <div class="collapse multi-collapse" id="collapse-pos-parser">
            <!--<button class="feedback correct" data-toggle="tooltip" data-placement="top" title="Correct" onclick="report(this, 'v' ,'pos')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></button>-->
            <!--<button class="feedback incorrect" data-toggle="tooltip" data-placement="top" title="Incorrect" onclick="report(this,'x', 'pos')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>-->
          <div class="card card-body row">
            <div class="col-sm-5", id="pos">
                <table>
                    <tr>
                        <th>Form</th>
                        <th>Part of Speech</th>
                    </tr>
                    {% for tag in pos %}
                    <tr>
                        <td>{{tag.token}}</td>
                        <td>{{tag.xpos}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
          </div>
        </div>
      </div>
    <button class="card-header" type="button" data-toggle="collapse" data-target="#collapse-lemma-parser" aria-expanded="false" aria-controls="collapse-lemma-parser">Lemmas</button>

      <div class="card-block">
        <div class="collapse multi-collapse" id="collapse-lemma-parser">
            <!--<button class="feedback correct" data-toggle="tooltip" data-placement="top" title="Correct" onclick="report()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></button>-->
            <!--<button class="feedback incorrect" data-toggle="tooltip" data-placement="top" title="Incorrect" onclick="report()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>-->

          <div class="card card-body row">
            <div class="col-sm-5">
                <table>
                    <tr>
                        <th>Form</th>
                        <th>Lemma</th>
                    </tr>
                    {% for lemma in lemmas %}
                    <tr>
                        <td>{{lemma.token}}</td>
                        <td>{{lemma.lemma}}</td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
         </div>
        </div>
      </div>

      <button class="card-header " type="button" data-toggle="collapse" data-target="#collapse-morph-parser" aria-expanded="false" aria-controls="collapse-morph-parser">Morphological Features</button>
          <div class="card-block">
        <div class="collapse multi-collapse" id="collapse-morph-parser">
             <!--<button class="feedback correct" data-toggle="tooltip" data-placement="top" title="Correct" onclick="report(this, 'v' ,'morph')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></button>-->
            <!--<button class="feedback incorrect" data-toggle="tooltip" data-placement="top" title="Incorrect" onclick="report(this,'x',  'morph')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>-->
         <div class="card card-body row">
              <div class="col-sm-5" id="morph">
                <table>
                    <tr>
                        <th>Form</th>
                        <th>Features</th>
                    </tr>
                    {% for feature in morph %}
                    <tr>
                        <td>{{feature.token}}</td>
                        <td>{{feature.feats}}</td>
                    </tr>
                    {% endfor %}
                </table>
              </div>
          </div>
        </div>
      </div>
      <div class="card-block">
      <button class="card-header " type="button" data-toggle="collapse" data-target="#collapse-dep-parser" aria-expanded="false" aria-controls="collapse-dep-parser">Dependency Relations</button>
        <div class="collapse multi-collapse" id="collapse-dep-parser">
             <!--<button class="feedback correct" data-toggle="tooltip" data-placement="top" title="Correct" onclick="report(this, 'v' ,'relations')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></button>-->
            <!--<button class="feedback incorrect" data-toggle="tooltip" data-placement="top" title="Incorrect" onclick="report(this,'x',  'relations')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>-->

          <div class="card card-body row">
              <div class="col-sm-5", id="relations">
                  <!--{{relations|linebreaks}}-->
                <table style="border-spacing: 10px 5px;">
                    <tr>
                        <th>Relation</th>
                        <th>Head</th>
                        <th></th>
                        <th>Dependent</th>
                    </tr>
                    {% for dep in relations %}
                        {% for tree in dep %}
                            <tr>
                                <td><i>{{tree.relation}}</i></td>
                                <td>( {{tree.head_index}} - {{tree.head_lemma}}</td>
                                <td>,</td>
                                <td>{{tree.self_index}} - {{tree.self_lemma}} )</td>

                            </tr>
                        {% endfor %}
                        <td>&nbsp</td>
                    {% endfor %}
                </table>
              </div>
         </div>
        </div>
      </div>
      <div class="card-block">
      <button class="card-header " type="button" data-toggle="collapse" data-target="#collapse-ud-parser" aria-expanded="false" aria-controls="collapse-ud-parser">UD Conversion</button>
        <div class="collapse multi-collapse" id="collapse-ud-parser">
             <!--<button class="feedback correct" data-toggle="tooltip" data-placement="top" title="Correct" onclick="report(this, 'v' ,'relations')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></button>-->
            <!--<button class="feedback incorrect" data-toggle="tooltip" data-placement="top" title="Incorrect" onclick="report(this,'x',  'relations')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>-->

          <div class="card card-body row">
              <div class="col-sm-5", id="ud">
                  <!--{{converted}}-->
                <table>
                    <tr>
                        <th>FORM</th>
                        <th>LEMMA</th>
                        <th>UPOS</th>
                        <th>FEATS</th>
                    </tr>
                    {% for item in converted %}
                    <tr>
                        <td>{{item.FORM}}</td>
                        <td>{{item.LEMMA}}</td>
                        <td>{{item.UPOS}}</td>
                        <td>{{item.FEATS}}</td>
                    </tr>
                    {% endfor %}
                </table>
              <div>* The feature 'xx_UD_REL' is a placeholder that at the moment only holds information about the
                    UD dependency relation, if derivable.</div>
                  <div>* The features are only as derivable from the existing features in the SPMRL scheme.
                      Note that YAP was not trained on many existing UD features and thus cannot predict them.</div>
              </div>
         </div>
        </div>
      </div>
      <button class="card-header " type="button" data-toggle="collapse" data-target="#collapse-lattices-parser" aria-expanded="false" aria-controls="collapse-lattices-parser">Lattices</button>
      <div class="card-block">
        <div class="collapse multi-collapse" id="collapse-lattices-parser">
        <!--<button class="feedback correct" data-toggle="tooltip" data-placement="top" title="Correct" onclick="report(this, 'v' ,'lattices')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></button>-->
        <!--<button class="feedback incorrect" data-toggle="tooltip" data-placement="top" title="Incorrect" onclick="report(this,'x',  'lattices')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>-->

          <div class="card card-body row">
              <div class="col-sm-5", id="lattices">
                  <!--{{lattices|linebreaks}}-->
                <table>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Form</th>
                        <th>Lemma</th>
                        <th>Part of Speech</th>
                        <th>Features</th>
                        <th>Token Number</th>
                    </tr>
                    {% for item in lattices %}
                    <tr>
                        <td>{{item.from}}</td>
                        <td>{{item.to}}</td>
                        <td>{{item.form}}</td>
                        <td>{{item.lemma}}</td>
                        <td>{{item.postag}}</td>
                        <td>{{item.features}}</td>
                        <td>{{item.token_number}}</td>
                    </tr>
                    {% endfor %}
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
      <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Your entry is invalid. Please enter one sentence at a time.
      </div>
      If your entry is a single sentence in Hebrew (without linebreaks) and you still see this message, please report to us <button onclick="report(this, 'crash', 'query')">here</button>.
      <p id="report"></p>
  {% endif %}
{% endif %}
{% endblock %}
</div>
