{% extends "base.html" %}
{% block title %}SPMRL POS tags{% endblock %}
  {% load static%}
  {% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="https://nlp.biu.ac.il/~rtsarfaty/onlp">ONLP</a></li>
    <li class="breadcrumb-item"><a href="https://nlp.biu.ac.il/~rtsarfaty/onlp/hebrew">Hebrew</a></li>
    <li class="breadcrumb-item"><a href="https://nlp.biu.ac.il/~rtsarfaty/onlp/hebrew/resources">Resources</a></li>
    <li class="breadcrumb-item active" aria-current="page">Part of Speech Tags</li>
  </ol>
</nav>

<h3 class="page-title">SPMRL Part of Speech Tags</h3>

<section>
    <table>
  <tr>
    <th>TAG</th>
    <th>MEANING</th>
  </tr>
<tr>
  <th>ABVERB</th>
  <td>The word כ  before numerals</td>
</tr>
<tr>
  <th>AT</th>
  <td>Accusative marker  את which appears as a separate word in written Hebrew</td>
</tr>
<tr>
  <th>BN</th>
  <td>BN – participle (בינוני)</td>
</tr>
<tr>
  <th>BNN</th>
  <td>Participle (בינוני) in construct state form</td>
</tr>
<tr>
  <th>CC</th>
  <td>Conjunction</td>
</tr>
<tr>
  <th>CD</th>
  <td>Numeral</td>
</tr>
<tr>
  <th>CDT</th>
  <td>Numeral in construct state</td>
</tr>
<tr>
  <th>CONJ</th>
  <td>Coordinating conjunction   ו</td>
</tr>
<tr>
  <th>COP</th>
  <td>Copula</td>
</tr>
<tr>
  <th>COP_TOINFINITIVE</th>
  <td>The infinitive form of the verb היה  used as a copula</td>
</tr>
<tr>
<th>DEF</th>
  <td>A special tag assigned to the definiteness marker ה, which appears with nouns, adjectives and numerals</td>
</tr>
<tr>
  <th>DT</th>
  <td>Used in the treebank only for the determiner כל  with a pronominal suffix</td>
</tr>
<tr>
  <th>DTT</th>
  <td>Determiner</td>
</tr>
<tr>
  <th>DUMMY_AT</th>
  <td>Accusative marker  אתwhen used with a pronominal suffix</td>
</tr>
<tr>
  <th>EX</th>
  <td>existential  marker  יש or אין</td>
</tr>
<tr>
  <th>IN</th>
  <td>Preposition</td>
</tr>
<tr>
  <th>INTJ</th>
  <td>Interjection</td>
</tr>
<tr>
  <th>JJ</th>
  <td>Adjective</td>
</tr>
<tr>
  <th>JJT</th>
  <td>Adjective in construct state</td>
</tr>
<tr>
  <th>MD</th>
  <td>Modal predicates</td>
</tr>
<tr>
  <th>NN</th>
  <td>Noun</td>
</tr>
<tr>
  <th>NN_S_PP</th>
  <td>Noun with a pronominal suffix</td>
</tr>
<tr>
  <th>NNP</th>
  <td>Proper noun</td>
</tr>
<tr>
  <th>NNT</th>
  <td>Construct state noun</td>
</tr>
<tr>
  <th>P</th>
  <td>Prefix written as a separate word (אי, בלתי,אנטי  etc.)</td>
</tr>
<tr>
  <th>POS</th>
  <td>Possessive preposition של  and accusative marker את  with a pronominal suffix</td>
</tr>
<tr>
  <th>PREPOSITION</th>
  <td>Inseparable preposition</td>
</tr>
<tr>
  <th>PRP</th>
  <td>Personal pronoun</td>
</tr>
<tr>
  <th>QW</th>
  <td>Question word</td>
</tr>
<tr>
  <th>S_PRN</th>
  <td>Personal pronoun attached to a preposition as a pronominal suffix</td>
</tr>
<tr>
  <th>TEMP</th>
  <td>Subordinating conjunction introducing time clauses</td>
</tr>
<tr>
  <th>VB</th>
  <td>Verb</td>
</tr>
<tr>
  <th>VB_TOINFINITIVE</th>
  <td>A verb in its infinitive form</td>
</tr>

<tr>
  <th>yyCLN</th>
  <td>Colon</td>
</tr>

<tr>
  <th>yyCM</th>
  <td>Comma</td>
</tr>
<tr>
  <th>yyDASH</th>
  <td>Hyphen or dash</td>
</tr>
<tr>
  <th>yyDOT</th>
  <td>Period</td>
</tr>

<tr>
  <th>yyELPS</th>
  <td>Ellipsis (...)</td>
</tr>

<tr>
  <th>yyEXCL</th>
  <td>Exclamation point</td>
</tr>

<tr>
  <th>yyLRB</th>
  <td>Left parenthesis</td>
</tr>

<tr>
  <th>yyQM</th>
  <td>Question mark</td>
</tr>

<tr>
  <th>yyQUOT</th>
<td>Quotation mark</td>
  </tr>
<tr>
<th>yyRRB</th>
<td>Right parenthesis</td>
  </tr>
<tr>
<th>yySCLN</th>
<td>Semicolon</td>
</tr>

</table>
</section>


{% endblock %}


