{% extends "base.html" %}
{% block title %}SPMRL Features{% endblock %}
  {% load static%}
  {% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="https://nlp.biu.ac.il/~rtsarfaty/onlp">ONLP</a></li>
    <li class="breadcrumb-item"><a href="https://nlp.biu.ac.il/~rtsarfaty/onlp/hebrew">Hebrew</a></li>
    <li class="breadcrumb-item"><a href="https://nlp.biu.ac.il/~rtsarfaty/onlp/hebrew/resources">Resources</a></li>
    <li class="breadcrumb-item active" aria-current="page">Morphological Features</li>
  </ol>
</nav>
<h3 class="page-title">SPMRL Morphological Features</h3>

<section>
    <table>
      <tr>
        <th>Label</th>
        <th>Feature</th>
        <th>Possible values</th>
      </tr>
<tr>
    <th>gen</th>
    <td>Gender</td>
    <td>F (feminine), M (masculine)</td>
</tr>
<tr>
    <th>num</th>
    <td>Number</td>
    <td>S (singular), P (plural), D (dual)</td>
        </tr>
<tr>
    <th>per</th>
    <td>Person</td>
    <td>1, 2, 3, A (all)</td>
    </tr>
<tr>
    <th>tense</th>
    <td>Tense or mood</td>
    <td>BEINONI, PAST, FUTURE, IMPERATIVE</td>
    </tr>
<tr>
    <th>suf_gen</th>
    <td>Gender of pronominal suffix</td>
    <td>F (feminiמe), M (masculine)</td>
    </tr>
<tr>
    <th>suf_num</th>
    <td>Number of pronominal suffix</td>
    <td>S (singular), P (plural)</td>
    </tr>
<tr>
    <th>suf_per</th>
    <td>Person of pronominal suffix</td>
    <td>1,2,3</td>
</tr>

</table>
</section>


{% endblock %}


